[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-twitter = "*"
django = "*"
requests-toolbelt = "*"
pillow = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-q = "*"
rollbar = "*"

[dev-packages]
ptpython = "*"

[requires]
python_version = "3.7"
